body{
    background-color: black;
    color: white;
}

h1{
    background-color: red;
    background-size: cover;
    padding-top: 64px;
    padding-bottom: 64px;
    font-size: 300%;
    color: black;
    text-align:center;
}
h3{
    color:rgb(255, 7, 7);
    font-size:xx-large
}